{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form method=POST action ="{{ url_for('login') }}">
				<div class="form-group">
				<label for="exampleInputEmail">EmailId</label>
				<input type="email" class="form-control" name="username" placeholder="username">
				</div>
			<div class="form-group">
				<label for="exampleInputPassword">Password</label>
				<input type="Password" class="form-control" name="pass" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary btn-block">
				SignIn
			</button>
		</form>
		</br>
		<div>
		Don't have an account?<a href="{{url_for ('register') }}">Register Here</a>
		</div>
		</div>
	</div>
</div>
{% endblock %}


